@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
*
{
	margin: 0;
font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}
.headerLegend{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	margin-top: 15px;
}
.headerchild1{
	display: flex;
	align-items: center;
gap: 30px;
}
.headerchild2{
	display: flex;
	align-items: center;
	gap: 40px;
}
.butSignUp{
width: 145px;
height: 50px;
background-color: black;
color: white;
font-size:16px 
;
font-weight: 400;
border: none;
border-radius: 3px;

}
.pAbout{
font-size: 18px;
font-weight: 400;
color:#151515;
}
.BlackBut{
	display: none;
}
.inputDad{
	display: flex;
	border: 2px solid rgba(128, 128, 128, 0.718);
	width: 478px;
		border-radius: 5px;
}
.inputchild{
	width: 300px;
border: none;
border-radius: 5px;

}
.butget{
	width: 178px;
	height: 50px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #151515;
}
.pAlways{
	font-size: 70px;
	font-weight: 400;
	color:#151515 ;
	width: 800px;
}
.pBetter{
	font-size: 18px;
	font-weight: 400;
	color: #151515;
	width: 565px;
}
.imagesOfBank{
	display: flex;
	gap: 40px;
}
.sectionFirstChild{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.SectionFirst{
	display: flex;
	align-items: center;
	width: 95%;
	margin: auto;
	justify-content: space-between;
	margin-top: 40px;
}

@media (max-width:510px) {
	.pAbout{
		display: none;
	}
	.butSignUp{
		display: none;
	}
	.BlackBut{
		display: block;
	}
	.headerLegend{
		width: 93%;
	}
	.SectionFirst{
		flex-direction: column;
		margin: auto;
		margin-top: 40px;
	}
	.pAlways{
		font-size: 28px;
		width: 319px;
	}
	.pBetter{
		width: 318px;
		font-size: 18px;
	}
	.inputDad{
		width: 318px;
	}
	.imgMan{
		width: 330px;
		height: 348px;
	}
}