@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
*
{
	margin: 0;
font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}
.headerLegend{
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	margin-top: 15px;
}
.headerchild1{
	display: flex;
	align-items: center;
gap: 30px;
}
.headerchild2{
	display: flex;
	align-items: center;
	gap: 40px;
}
.butSignUp{
width: 145px;
height: 50px;
background-color: black;
color: white;
font-size:16px 
;
font-weight: 400;
border: none;
border-radius: 3px;

}
.pAbout{
font-size: 18px;
font-weight: 400;
color:#151515;
}
.BlackBut{
	display: none;
}
.inputDad{
	display: flex;
	border: 2px solid rgba(128, 128, 128, 0.718);
	width: 478px;
		border-radius: 5px;
}
.inputchild{
	width: 300px;
border: none;
border-radius: 5px;

}
.butget{
	width: 178px;
	height: 50px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: #151515;
}
.pAlways{
	font-size: 70px;
	font-weight: 400;
	color:#151515 ;
	width: 800px;
}
.pBetter{
	font-size: 18px;
	font-weight: 400;
	color: #151515;
	width: 565px;
}
.imagesOfBank{
	display: flex;
	gap: 40px;
}
.sectionFirstChild{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.SectionFirst{
	display: flex;
	align-items: center;
	width: 95%;
	margin: auto;
	justify-content: space-between;
	margin-top: 40px;
}
.ButAbout{
	width: 108px;
	height: 36px;
	font-size:14px ;
	font-weight: 600;
	background-color: white;
}
.pFaster{
	font-size: 60px;
	font-weight: 400;
	color: #151515;
	width: 800px;
	line-height: 60px;
}
.pViewer{
	font-size: 18px;
	font-weight: 400;
	color: #151515;
	width:700px;
	line-height: 30px;
}
.pShared{
	font-size: 20px;
	font-weight: 400;
	color: #151515;
}
.IconShared{
	display: flex;
	align-items: center;
	gap: 10px;
}
.sectionSecond{
	display: flex;
	align-items: center;
	width: 95%;
	margin: auto;
	gap: 30px;
	margin-top: 40px;
}
.textBot{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.butHow{
	width: 155px;
	height: 36px;
	font-size: 14px;
	background-color: white;
}
.IconFlex{
	display: flex;
	align-items: center;
	gap: 30px;
	margin-top: 10px;
}
.pCloud{
	font-size: 28px;
	font-weight: 400;
	color: #151515;
}
.pNavigate{
	font-size: 18px;
	font-weight: 400;
	color: #151515;
	width: 500px;
	line-height: 30px;
}
.pBuilding{
	font-size: 60px;
	font-weight: 400;
	color: #151515;
	width: 700px;
}
.SectionThird{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 140px;
	margin-top: 100px;
}
.Prices{
	width: 496px;
	font-size: 18px;
	font-weight: 400;
	color: #151515;
}
.SectionFourth{
	display: flex;
	align-items: center;
	
	width: 95%;
	margin: auto;
	justify-content: space-between;
margin-top: 200px;
	
}
.textBott{
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: end;
	gap: 20px;
	
	
}
.pSelect{
	font-size: 60px;
	font-weight: 400;
	color: #151515;
}
@media (max-width:510px) {
	.pAbout{
		display: none;
	}
	.butSignUp{
		display: none;
	}
	.BlackBut{
		display: block;
	}
	.headerLegend{
		width: 93%;
	}
	.SectionFirst{
		flex-direction: column;
		margin: auto;
		margin-top: 40px;
	}
	.pAlways{
		font-size: 28px;
		width: 319px;
	}
	.pBetter{
		width: 318px;
		font-size: 18px;
	}
	.inputDad{
		width: 318px;
	}
	.imgMan{
		width: 330px;
		height: 348px;
	}
	.sectionSecond{
		flex-direction: column;
		flex-direction: column-reverse;
		margin-top: 60px;
	}
	.imgGirlOntheEarth{
		width: 370px;
		height: 320px;
	}
	.pFaster{
		font-size: 28px;
		font-weight: 400;
		color: #151515;
		width: 282px;
	}
	.pViewer{
		width: 320px;
		font-size: 18px;
		font-weight: 400;
		color: #151515;
	}
	.SectionThird{
		flex-direction: column;

	}
	.pBuilding{
		font-size: 28px;
		width: 336px;
		margin-left: 10px;
	}
	.pNavigate{
		width: 236px;
	}
	.GirlWidthKlyuch{
		width: 300px;
		height: 430px;
	}
	.butHow{
		margin-left: 10px;
	}
	.SectionFourth{
		flex-direction: column;
		margin-top: 60px;
		flex-direction: column-reverse;
	}
	.imgMAnOnThePag{
		width: 300px;
		height: 298px;
margin-top: 30px;
	}
	.textBott{
		align-items: start;
		text-align: start;
		margin-right: 70px;
		
	}
	.pSelect{
		font-size: 28px;
		width: 275px;
	}
	.Prices{
		font-size: 18px;
		
		width:320px ;

	}
}